@import "../../../shared/styles/cards.scss";

/* ==========================================================================
     #TITLE
     ========================================================================== */
.title {
  @include title;
}

/* ==========================================================================
     #CARD
     ========================================================================== */
.card {
  @include card;
}

.card-5 {
  @include card-5;
}

.card-5 .card-heading {
  @include card-heading;
}

.card-5 .card-body {
  padding: 52px 85px;
  padding-bottom: 73px;
}

@media (max-width: 767px) {
  .card-5 .card-body {
    padding: 40px 30px;
    padding-bottom: 50px;
  }
}

.info--style {
  @include info--style;
}

.info--title--style {
  @include info--title--style;
}