<div class="container-fluid h-100 py-5">
    <div class="wrapper wrapper--w790">
      <div class="card card-5">
        <div class="card-heading">
          <h2 class="title">Ajouter un fournisseur</h2>
        </div>
        <div class="card-body p-5">
          <form [formGroup]="SUPPLIER_FORM" (submit)="submit()">
            <div class="form-row">
              <div class="name">Fournisseur</div>
              <div class="value">
                <div class="input-group">
                  <input
                    class="input--style"
                    type="text"
                    name="name"
                    formControlName="name"
                  />
                  <control-messages
                    class="error-messages"
                    [control]="SUPPLIER_FORM.get('name')"
                  ></control-messages>
                </div>
              </div>
            </div>
            <div>
              <button
                class="btn btn--radius-2 btn--red float-right"
                type="submit"
                [disabled]="!SUPPLIER_FORM.valid || loading"
              >
               <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
  
                Ajouter
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>