@import "./variables.scss";

$button-color : $total-red-color;
$button-color-hover : $total-red-hover-color;
$yellow-color : $total-yellow-color;
$yellow-hover-color : $total-yellow-hover-color;
$darkblue-color : $total-darkblue-color;
$darkblue-hover-color : $total-darkblue-hover-color;
$skyblue-color : $total-skyblue-color ;
$skyblue-hover-color : $total-skyblue-hover-color;

@mixin btn {
    display: inline-block;
    line-height: 50px;
    padding: 0 50px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-family: inherit;
}

@mixin btn--radius {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

@mixin btn--red {
    background: $total-red-color;
    border-color: $total-red-color;
}

@mixin btn--red--hover {
    background: $button-color-hover;
    border-color: $button-color-hover;
}
@mixin btn--yellow {
    background: $yellow-color;
    border-color: $yellow-color;
}

@mixin btn--yellow--hover {
    background: $yellow-hover-color;
    border-color: $yellow-hover-color;
}
@mixin btn--darkblue {
    background: $darkblue-color;
    border-color: $darkblue-color;
}

@mixin btn--darkblue--hover {
    background: $darkblue-hover-color;
    border-color: $darkblue-hover-color;
}
@mixin btn--skyblue {
    background: $skyblue-color;
    border-color: $skyblue-color;
}

@mixin btn--skyblue--hover {
    background: $skyblue-hover-color;
    border-color: $skyblue-hover-color;
}