$total-yellow-color : #ffb142;
$total-yellow-hover-color : #faa329;
$total-red-color : #C0392B;
$total-red-hover-color : #a03024;
$total-darkblue-color : #273c75;
$total-darkblue-hover-color : #1c3475;
$total-skyblue-color : #34ace0;
$total-skyblue-hover-color : #12a6e6;

$text-primary-color : #555;