<div
  class="modal fade"
  #sellProduct
  id="sellProduct"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  role="dialog"
  aria-labelledby="sellProductLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-block">
        <button
          type="button"
          class="close float-right"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title text-center" id="sellProductLabel">
          Ajouter au panier
        </h5>
      </div>
      <div class="modal-body px-5">
        <div class="form-row">
          <div class="name">Quantité :</div>
          <div class="value">
            <div class="input-group">
              <input
                class="input--style"
                type="number"
                name="quantity"
                min="1"
                [(ngModel)]="quantity"
                (ngModelChange)="calculatePrice($event)"
              />
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="name">Garagiste :</div>
          <div class="value">
            <div class="input-group">
              <input
                type="checkbox"
                class="input--style"
                id="exampleCheck1"
                [(ngModel)]="isGarageOwner"
                (change)="updateSelect($event)"
              />
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="name">Remise :</div>
          <div class="value">
            <div class="input-group">
              <select
                class="selectpicker form-control"
                [(ngModel)]="discount"
                (ngModelChange)="calculatePrice($event)"
              >
                <option value="0">Sans remise</option>
                <option *ngFor="let discount of discounts" [value]="discount"
                  >{{ discount }}%</option
                >
                <option
                  *ngIf="specialDiscount && isGarageOwner"
                  style="color: red; font-weight: bold;"
                  [value]="specialDiscount"
                  data-subtext="Garagiste"
                  >{{ specialDiscount }}%</option
                >
              </select>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="name">Prix :</div>
          <div class="value">
            <div class="input-group">{{ discountedSalePrice }} DH</div>
          </div>
        </div>
        <div></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn--radius btn-secondary" data-dismiss="modal">
          Annuler
        </button>
        <button
          type="button"
          class="btn btn--radius btn--red"
          [disabled]="disabled"
          (click)="submit()"
        >
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Valider
        </button>
      </div>
    </div>
  </div>
</div>
